# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/node_modules
/build
.DS_Store
yarn-error.log
.*.env
.env
.eslintcache
/.idea
dist
electron-builder.yml
/.yalc
yalc.lock
yarn.lock
# testing
/coverage/
tsconfig.tsbuildinfo
public/**/*.js
**/*service-account.json
jest.results.json
pnpm-lock.yaml
package-lock.json
*.#*
*.env
storage-service-account.json

backend/.idx/dev.nix
backend/.vscode/launch.json
backend/.vscode/settings.json
